amzqr==0.0.1
asgiref==3.6.0
async-generator==1.10
attrs==23.1.0
certifi==2023.5.7
crc16==0.1.1
Django==4.2
exceptiongroup==1.1.1
h11==0.14.0
idna==3.4
imageio==2.28.1
numpy==1.24.3
outcome==1.2.0
Pillow==9.5.0
pixqrcode==1.0.3
pypix==1.0.3
pypng==0.20220715.0
PySocks==1.7.1
qrcode==7.4.2
selenium==4.9.0
sniffio==1.3.0
sortedcontainers==2.4.0
sqlparse==0.4.3
trio==0.22.0
trio-websocket==0.10.2
typing_extensions==4.5.0
urllib3==1.26.15
wsproto==1.2.0