{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Shopping Cart</title>
    <link rel="stylesheet" type="text/css" href="{% static './css/cart.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav>
        <p>CENTRAL<br>LISTING<br>for<br>EASY<br>ORDERING</p>
        </div>
    </nav>
    <div class="container">
        <div class="top-bar">       
            <a href="{% url 'home' %}" class="back-to-home">
                <i class="fas fa-arrow-left"></i>
            </a>
            <h1 class="top-bar-title">Carrinho de compras</h1>
        </div>
    </div>
    <a href="{% url 'clear_cart' %}" class="btn btn-danger clear-cart-btn" name="clearCart">Limpar carrinho</a>
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% if cart_items_total %}
                <div class="table-container">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nome do Produto</th>
                            <th>Preço</th>
                            <th>Quantidade</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item, total in cart_items_total %}
                        <tr>
                            <td>{{ item.product.name }}</td>
                            <td>{{ item.product.price }}</td>
                            <td>
                                <div class="quantity-box">
                                    <a href="{% url 'decrement_quantity' item.product.id %}" class="fa-sharp fa-solid fa-minus btn-sm minus-link" style="text-decoration: none" name="decreaseCart"></a>
                                    <span class="quantity-number">{{ item.quantity }}</span>
                                    <a href="{% url 'increment_quantity' item.product.id %}" class="fa-light fa-plus btn-sm plus-link" style="text-decoration: none" name="increaseCart"></a>
                                </div>
                            </td>
                            <td>{{ total }}</td>
                            <td>
                                <a href="{% url 'remove_from_cart' item.product.id %}" class="btn btn-danger btn-sm" name="removeCart">Remover</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if cart_items_total %}
                <div class="bottom-container">
                    <form method="post">
                        {% csrf_token %}
                        <div class="observation-container">
                            <input type="text" name="{{ form.text_box_obs.name }}" class="observation-box" placeholder="Alguma observação?"/>
                            <div class="add-observation-btn-container">
                                <button type="submit" class="btn btn-primary" name="obsCartBtn">Adicionar observação</button>
                            </div>
                        </div>
                    </form>
                    <div class="total-box">
                        <p class="total-text">Total: {{ cart_total }}</p>
                    </div>
                </div>
            {% endif %}                
                {% comment %} <a href="{% url 'checkout' %}" class="btn btn-success">Proceed to Checkout</a> {% endcomment %}
                {% else %}
                <div class="empty-cart-message">
                    <p>Seu carrinho está vazio. <a href="{% url 'home' %}">Continue comprando</a>.</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>