{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Food Catalog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/5vRWz9XKXBjL+SG2o833dH2jPQm2iz2/2SSxda" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '../static/css/catalog.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-GLQ6Xz+dmJXQ6Tc7Vz/+W+U8tpwSovtp2uuyMA6UQW4Xf4g4cNe4S4pL5H3fCBCA" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
      <p>CENTRAL<br>LISTING<br>for<br>EASY<br>ORDERING</p>
    </nav>
    <div class="container">
        <h1 class="text-center my-5">Food Catalog</h1>
        <div class="row">
            {% for product in food_products %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        {% comment %} <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}"> {% endcomment %}
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">R${{ product.price }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'add_to_cart' product.id %}" class="btn btn-primary" style="text-decoration:none">Add to Cart</a>
                            <a class="btn btn-outline-secondary">Favorite</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
