{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Food Catalog</title>
    <link rel="stylesheet" type="text/css" href="{% static './css/catalog.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav>
        <p>CENTRAL<br>LISTING<br>for<br>EASY<br>ORDERING</p>
        <div class="cart-icon">
             <a href="{% url 'order_status' %}">
                 <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" id="sino" class="bi bi-bell-fill" viewBox="0 0 16 16">
                    <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
                  </svg>
             </a>
            <a class="fas fa-shopping-cart cart-link" href="{% url 'cart' %}" style="text-decoration:none" name="cart"></a>
           
        </div>
    </nav>
    <div class="container">
        <h1 class="text-center my-5">Catálogo de Comidas</h1>
        <div class="row mb-4">
            <div class="col-md-4">
                <div class="search-container">
                    <form method="get" action="{% url 'home' %}">
                        <input class="search-input" type="search" name="search" placeholder="Buscar produto" value="{{ request.GET.search }}">
                        <button id="btn-busca" type="submit">BUSCAR</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            {% for product in food_products %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="{% url 'product_detail' product_id=product.id %}" style="text-decoration:none" name="product-link">
                            <div class="card-body">
                                <div class="card-split">
                                    <div class="card-img">
                                        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">                                    </div>
                                    <div class="card-content">
                                        <h5 class="card-title product-link">{{ product.name }}</h5>
                                        <p class="card-text">R${{ product.price }}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="card-footer">
                            <a href="{% url 'add_to_cart' product.id %}" class="btn btn-primary custom-btn" style="text-decoration:none" name="cartAdd">Adicionar ao carrinho</a>
                            <a class="btn btn-outline-secondary custom-btn">Favorito</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
