{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Food Catalog</title>
    <link rel="stylesheet" type="text/css" href="{% static './css/catalog.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav>
        <p>CENTRAL<br>LISTING<br>for<br>EASY<br>ORDERING</p>
    </a>
    <a href="{% url 'login' %}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" id="log-out" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
           <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
           <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
         </svg>
    </a>
        <div class="cart-icon">
                <a href="{% url 'list_favorite' %}"> <i class="fa-solid fa-star" style="color: #ffffff;" id="star"></i> </a>
                 <a href="{% url 'order_status' %}">
                     <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" id="sino" class="bi bi-bell-fill" viewBox="0 0 16 16">
                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
                      </svg>
                 </a>
            <a class="fas fa-shopping-cart cart-link" id="cart" href="{% url 'cart' %}" style="text-decoration:none" name="cart"></a>
           
        </div>
    </nav>
    <div class="container">
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
        <div class="top-bar">    
        <h1 class="text-center my-5">Catálogo de Comidas</h1>
        </div>
        <div class="container_catalog">
            <div class="row_searchbar mb-4">
                <div class="col-md-4">
                    <div class="search-container">
                        <form method="get" action="{% url 'home' %}">
                                <select name="categoria">
                                  <option value="">Selecione uma categoria</option>
                                  {% for categoria in todas_categorias %}
                                  <option value="{{ categoria.categoria }}">{{ categoria.categoria }}</option>
                                  {% endfor %}
                                </select>
                                <input type="submit" value="Filter">                             
                            <input class="search-input" type="search" name="search" placeholder="Buscar produto" value="{{ request.GET.search }}">
                            <button id="btn-busca" type="submit">BUSCAR</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for product in food_products %}
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <a href="{% url 'product_detail' product_id=product.id %}" style="text-decoration:none" name="product-link">
                                <div class="card-body">
                                    <div class="card-split">
                                        <div class="card-img">
                                            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">                                    </div>
                                        <div class="card-content">
                                                <h5 class="card-title product-link">{{ product.name }}</h5>
                                                <p class="card-text">R${{ product.price }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="card-footer">
                                        <a href="{% url 'add_to_cart' product.id %}" class="btn btn-primary custom-btn" style="text-decoration:none" name="cartAdd">Adicionar ao carrinho</a>
                                        <a href="{% url 'add_favorite' product.id %}" class="btn btn-outline-secondary custom-btn" name="favoriteAdd">Favorito</a>
                                    </div>
                                </div>
                            </div>
                        {%empty%}
                    <h5 class="text-center">Esse produto não existe.</h5>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
