<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href={% static '../static/css/login.css' %}>
  </head>
  <body>
    <div class="login-container">
      <h1>Login</h1>
      {% if error_message %}
        <p class="error-message">{{ error_message }}</p>
      {% endif %}
      <form method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="username" id="username" required>
        <input type="password" name="password" placeholder="password" id="password" required>
        <button type="submit">Login</button>
      </form>
    </div>
  </body>
</html>