{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Order Status</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />
  <!-- FontAwesome 4.7.0 CDN -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <link rel="stylesheet" type="text/css" href="{% static './css/order_status.css' %}">
</head>
<body>
  {% if messages %}
  {% for message in messages %}
    <div id="success-msg" class="alert alert-success hover" style="display:none; position: fixed; top: 0; left: 0; right: 0; z-index: 9999;">
      {{ message }}
    </div>
  {% endfor %}
  {% endif %}
  <nav>
          <p>CENTRAL<br>LISTING<br>for<br>EASY<br>ORDERING</p>
  </nav>
    <div class="container">
        <div class="top-bar">       
            <a href="{% url 'home' %}" class="back-to-home">
                <i class="fas fa-arrow-left"></i>
            </a>
            <h1 class="top-bar-title">Status do pedido</h1>
        </div>
    </div>
    <div class="container">
    {% if order %}
    <div class="container px-1 px-md-4 py-5 mx-auto">
      <div class="card">
        <div class="timeline-container">
          <div class="order_number_text">
            Pedido nº: 0000{{ order.id }}</p>
          </div>
          <!-- Add class "active" to progress -->
          <ul id="progressbar" class="text-center">
            <li class="step0">
              <div class="step-container">
                <p class="status-text">Pedido Realizado</p>
              </div>
            </li>
            <li class="step0">
              <div class="step-container">
                <p class="status-text">Aceito</p>
              </div>
            </li>
            <li class="step0">
              <div class="step-container">
                <p class="status-text">Em andamento</p>
              </div>
            </li>
            <li class="step0">
              <div class="step-container">
                <p class="status-text">Retirado</p>
              </div>
            </li>
          </ul>
          <br><br><br><br><br>
          <div class="track-order">
            <hr>
            <div class="row d-flex justify-content-between px-3 top">
              <div class="d-flex">
                <img src="https://placehold.co/600x400?text=product_img" alt="Product Image" style="width:250px;height:125px;">
              </div>
              <div>
                <p>Horário de retirada: {{ order.pickup_time }}</p>
                <p>Data do pedido: {{ order.order_datetime }}</p>
                <p>Tipo de pagamento: PIX</p>
              </div>
              <div class="d-flex flex-column text-sm-right">
                <p>Detalhe do pedido:</p>
                <p>{{order.order}}</p>
                <p><br><br><br>Valor Total: R${{order.total}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="container px-1 px-md-4 py-5 mx-auto">
      <div class="card">
        <div class="timeline-container">
          <div class="order_number_text">
            <p>Não há pedidos feitos.</p>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
      <script src="{% static '../static/js/timeline.js' %}"></script>
      <script>
        window.onload = function() {
          // mostra a mensagem de sucesso
          var successMsg = document.getElementById("success-msg");
          successMsg.style.display = "block";
          
          // define um tempo limite para a mensagem desaparecer
          setTimeout(function() {
            successMsg.style.display = "none";
          }, 5000); // 5000 milissegundos = 5 segundos
        }
      </script>
</body>
</html>

