<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Login and Register</title>
    <link rel="stylesheet" type="text/css" href="{% static '../static/css/payment.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <nav>
      <p>CENTRAL<br>LISTING<br>for<br>EASY<br>ORDERING</p>
      <div class="cart-icon">
           <a href="{% url 'order_status' %}">
               <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" id="sino" class="bi bi-bell-fill" viewBox="0 0 16 16">
                  <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
                </svg>
           </a>
          <a class="fas fa-shopping-cart cart-link" href="{% url 'cart' %}" style="text-decoration:none" name="cart"></a>
      </div>
  </nav>
    <div class="top-bar">
      <a href="{% url 'cart' %}" class="back-to-home">
        <i class="fas fa-arrow-left"></i>
     </a>
    <h2 class="top-bar-title">Pagamento</h2>
  </div>
  <div class="container">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="payment-method">Escolha um metodo de pagamento:</label>
            <select id="payment-method" name="payment-method">
                <option value="pix" name="pixPay">Pix</option>
                <option value="credit-card">Cartão de Crédito</option>
            </select>
        </div>
        <div class="form-group">
            <label for="pickup-time">Horario de retirada:</label>
            <input type="time" id="pickup-time" name="pickup-time">
        </div>
        <p>Total: R${{ total }}</p>
        <input class="btn btn-primary" type="submit" value="Submit" name="generateQrCode">
    </form>
  </div>
</body>
</html>
