{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Product Detail</title>
    <link rel="stylesheet" type="text/css" href="{% static '../static/css/catalog.css' %}">
</head>
<body>
    <nav>
        <p>CENTRAL<br>LISTING<br>for<br>EASY<br>ORDERING</p>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    {% comment %} <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}"> {% endcomment %}
                    <div class="card-body">
                        <h1 class="text-center my-5">{{ product.name }}</h1>
                        <p class="card-text">Preço: R$ {{ product.price }}</p>
                        <p class="card-text">Descrição: {{ product.description }}</p>
                        <p>
                        
                        {% if product.ingredients.name %}
                        <p class="card-text">Ingredientes:</p>
                        <p>
                            <ul>
                                {% for item in product.ingredients.name %}
                                    <li>{{ item }}</li>
                                {% endfor %}
                            </ul>
                        </p>
                        {% else %}
                        

                        {% endif %}
                        {% for product in food_products %} 
                        {% endfor %}
                        </p>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
